<h3>Congratulations! You just filled out a simple @#$% form!</h3>
<body id="body_two">
and passed the variables to this page!<br>
name: <b><%= @instance_variable1 %> <br></b>
species: <b><%= @instance_variable2 %> <br></b>
power: <b><%= @instance_variable3 %> <br></b>
and, behind the scenes, we evaluated those fields and gave you a Mafia name!<br>
Your Mafia name is:<br>
<h2><%= @z.capitalize + " " + @zz.capitalize + " " + @zzz.capitalize + "!" %></h2>
<br>
So... You're brimming with jealousy. But in about three minutes, you too will have this power of making stupid mafia names.<br>

	<li>Let's  go back to the app.rb file and do something with those fields.
		<p style="margin-left:15px;"> Keeping your back straight, eyes forward, hands in correct ergonomic position, add the three lines I've indicated in bold.</p>
	    <div id="file">
		  <p style="margin-left:20px;margin-top:-15px;">get '/the_resulting_action_from_clicking_submit' do </p>
		  <p style="margin-left:45px;margin-top:-15px;">@instance_variable1 = params["this_is_what_gets_fed_into_params1"]</p>
		  <p style="margin-left:45px;margin-top:-15px;">@instance_variable2 = params["this_is_what_gets_fed_into_params2"]</p>
		  <p style="margin-left:45px;margin-top:-15px;">@instance_variable3 = params["this_is_what_gets_fed_into_params3"].to_i</p>
		  <b><p style="margin-left:45px;margin-top:-15px;">grab_name_one</p></b>
		  <b><p style="margin-left:45px;margin-top:-15px;">grab_name_two</p></b>
		  <b><p style="margin-left:45px;margin-top:-15px;">grab_name_three</p></b>
		  <p style="margin-left:45px;margin-top:-15px;">erb :result</p>
		  <p style="margin-left:20px;margin-top:-15px;">end</p>
		</div>
	<li>Now get ready for some serious thoughtless typing. Below that method, you are adding three methods to your app.rb file.</li>
	<div id="file">
	    <p style="margin-left:20px;">def grab_name_one</p>
	    <p style="margin-left:60px;margin-top:-15px;">name_one_length = @instance_variable1.length</p>
	    <p style="margin-left:80px;margin-top:-15px;">if name_one_length > 10</p>
	    <p style="margin-left:100px;margin-top:-15px;">x = rand(10)</p>
	    <p style="margin-left:80px;margin-top:-15px;">else</p>
	    <p style="margin-left:100px;margin-top:-15px;">x = rand(name_one_length)</p>
	    <p style="margin-left:80px;margin-top:-15px;">end</p>
	    <p style="margin-left:60px;margin-top:-15px;">y = ["tiny", "tony", "bruno", "sam", "gentle", "pizza-face", "franky", "smiley", "the don", "toothpick"]</p>
	    <p style="margin-left:60px;margin-top:-15px;">@z = y[x]</p>
	    <p style="margin-left:20px;margin-top:-15px;">end</p>
<br>
	    <p style="margin-left:20px;margin-top:-15px;">def grab_name_two</p>
	    <p style="margin-left:60px;margin-top:-15px;">name_one_length = @instance_variable2.length</p>
	    <p style="margin-left:80px;margin-top:-15px;">if name_one_length > 10</p>
	    <p style="margin-left:100px;margin-top:-15px;">x = rand(10)</p>
	    <p style="margin-left:80px;margin-top:-15px;">else</p>
	    <p style="margin-left:100px;margin-top:-15px;">x = rand(name_one_length)</p>
	    <p style="margin-left:80px;margin-top:-15px;">end</p>
	    <p style="margin-left:60px;margin-top:-15px;">y = ["'toes'", "'the bagel'", "'tickles'", "'the telephono polo'", "'the twitcher'", "'crap foot'", "'big lips'", "'the plumber'", "'the master'", "'joe joe'"]</p>
	    <p style="margin-left:60px;margin-top:-15px;">@zz = y[x]</p>
	    <p style="margin-left:20px;margin-top:-15px;">end</p>
<br>
	    <p style="margin-left:20px;margin-top:-15px;">def grab_name_three</p>
	    <p style="margin-left:40px;margin-top:-15px;">if @instance_variable3 > 10</p>
	    <p style="margin-left:60px;margin-top:-15px;">x = rand(10)</p>
	    <p style="margin-left:40px;margin-top:-15px;">else</p>
	    <p style="margin-left:60px;margin-top:-15px;">x = rand(@instance_variable3)</p>
	    <p style="margin-left:40px;margin-top:-15px;">end</p>
	    <p style="margin-left:40px;margin-top:-15px;">y = ["gravano", "corozzo", "anastasio", "manfredi", "gambini", "gambino", "blondo", "zampeli", "the don", "pistachio"]</p>
	    <p style="margin-left:40px;margin-top:-15px;">@zzz = y[x]</p> 
	    <p style="margin-left:20px;margin-top:-15px;">end</p>
	</div>
	<li> Now we update our result.erb file. Make it look like this. <br>
		<div id="file">
		<p style="margin-left:20px;">Congratulations! You just filled out a simple @#$% form!&lt;br&gt;</p>
		<p style="margin-left:20px;margin-top:-15px;">&lt;body id="body_two"&gt;&lt;br&gt;</p>
		<p style="margin-left:20px;margin-top:-15px;">and passed the variables to this page!&lt;br&gt;</p>
		<p style="margin-left:20px;margin-top:-15px;">name: &lt;%= @instance_variable1 %&gt; &lt;br&gt;</p>
		<p style="margin-left:20px;margin-top:-15px;">species:&lt;%= @instance_variable2 %&gt; &lt;br&gt;</p>
		<p style="margin-left:20px;margin-top:-15px;">power:&lt;%= @instance_variable3 %&gt; &lt;br&gt;</p>
		<p style="margin-left:20px;margin-top:-15px;">Your Mafia name is:&lt;br&gt;</p>
		<p style="margin-left:20px;margin-top:-15px;">&lt;h2&gt;&lt;%= @z.capitalize + " " + @zz.capitalize + " " + @zzz.capitalize + "!" %&gt;&lt;/h2&gt;</p>
		</div>
  <li> Before we can have our fun we need to add some stuff to 'name_of_my_css_file.css'<br>
	    <p style="margin-left:20px;">Jam this in the css file somewhere.</p>
	<div id="file">
	    <p style="margin-left:20px;margin-top:-15px;">#body_two {color:Gray; font-family: helvetica, sans-serif; font-size: 150%;}</p>
	</div>
	    <i><p style="margin-left:20px;margin-top:-15px;">This too.</p></i>
    <div id="file">
	    <p style="margin-left:20px;margin-top:-15px;">h2 {color:Black;font-family:"Times New Roman",Georgia,Serif;font-size:400%;}</p>
	<div id="file">
<br>
  <li> Now back to the terminal, <b>ruby app.rb</b> and watch the magic. This is no time to get content, because the last part of our design pattern is fast approaching: incorporating jquery.<br> 		
  <li>go to <a href="http://docs.jquery.com/Downloading_jQuery#Current_Release">Jquery</a> and click on the <a href="http://code.jquery.com/jquery-1.5.1.js">Uncompressed</a> link. That will load a page that you will copy in its entirety, and save as jquery-1.5.1.min.js in your public folder. (or whatever version # you choose)<br>
	  <div id="box"> $mate public/jquery-1.5.1.min.js <box>
  <li>a quick change to your layout.erb file. In the &lt;head&gt; section, add the line I've indicated in bold below <br>
	  <div id="file">&lt;link rel="stylesheet" href="name_of_my_css_file.css"&lt;/link&gt;<br>
	                 <b>&lt;script src="/jquery-1.5.1.min.js"&gt;&lt;/script&gt;</b></div><br>
	  </div>
  <li> We're going to now put this at the bottom of our index.erb file.<br>
	  <div id="file">
    	&lt;div id="test"&gt;<br>
		&lt;/div&gt;<br>
		&lt;script&gt;<br>
		<p style="margin-left:0px;margin-top:0px;">$(function() {</p>
		<p style="margin-left:30px;margin-top:-15px;">$("#css_form_text_field").focus();</p>
		<p style="margin-left:60px;margin-top:-15px;">$("#css_button").click(function(){</p>
		<p style="margin-left:90px;margin-top:-15px;">$("#test").load("/the_resulting_action_from_clicking_submit", $("#css_form_id").serialize());</p>
		<p style="margin-left:90px;margin-top:-15px;">return false;</p>
		<p style="margin-left:60px;margin-top:-15px;">})</p>
		<p style="margin-left:0px;margin-top:-15px;">})</p>
		<p style="margin-left:0px;margin-top:-15px;">&lt;/script&gt;</p>
   	</div>
  <li> finally we're adding this to our app.rb file. where it says, erb :result we're adding ',:layout => !request.xhr?'<br>
			<div id="file">erb :result, :layout => !request.xhr?<div>
	</li>		
</ol><br>
BASIC SKELETON IS DONE... (for now)<br>
</body>