
h1 {color:Black;font-family: helvetica, sans-serif;font-size: 200%;}
h2 {color:Black;font-family:"Times New Roman",Georgia,Serif;font-size:400%;}
h3 {color:Black;font-family:"Times New Roman",Georgia,Serif;font-size:130%;}

#css_form_id {color:black;background-color:Silver;font-size:120%;font-family:Monaco;border-style:solid;border-radius:.5em;width:23em;opacity:.75;}

#css_form_text_field {color:blue;background-color:white;font-size:110%;font-family:Monaco;border-style:double;border-radius:.3em;opacity:.5;}

#css_button {margin-left: 4em;color:black;background-color:LightGray;font-size:80%;font-family:Arial;border-style:raised;border-width:.2em;border-radius:.3em;border-color:black;opacity:.7;}

#box {color:black;font-family: arial;font-size: 120%;width:20em;opacity:0.7;margin-left:3em}

#box2 {color:black;font-family: arial;font-size: 120%;width:40em;opacity:0.7;margin-left:1em}

#file {margin-left: 2em;font-family: Monaco;font-size: 80%;width: 60em;padding-left:1em;padding-top:1em;padding-bottom:1em;}

#shortfile {margin-left: 1em;font-family: Monaco;font-size: 80%;width: 15em;padding-left:1em;padding-top:1em;padding-bottom:1em;}

#shortfile2 {margin-left: 2em;font-family: Monaco;font-size: 80%;width: 40em;padding-left:1em;padding-top:1em;padding-bottom:1em;}

body {color:Gray; font-family: helvetica, sans-serif; font-size: 150%; background-image:url('frank.jpg')}

#body_two {color:Gray; font-family: helvetica, sans-serif; font-size: 150%; background-image:url('frank2.jpg')}


