<form id="css_form_id" method="get" action="/the_resulting_action_from_clicking_submit">
<input id="css_form_text_field" type="text" name="this_is_what_gets_fed_into_params1"/>Name<br>
<input id="css_form_text_field" type="text" name="this_is_what_gets_fed_into_params2"/>Species<br>
<input id="css_form_text_field" type="text" name="this_is_what_gets_fed_into_params3"/>Power<br>
<input id="css_button" type="submit" value="Here_I_can_change_the_name_of_the_button!"/>
</form>